beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.22
botocore==1.8.36
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
docutils==0.14
ftfy==4.4.3
futures==3.2.0
gensim==3.2.0
gevent==1.2.2
greenlet==0.4.12
html5lib==1.0.1
idna==2.6
jmespath==0.9.3
lightgbm==2.1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.1
murmurhash==0.28.0
numpy==1.22.0
pandas==0.22.0
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
python-dateutil==2.6.1
pytz==2017.3
regex==2017.4.5
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
smart-open==1.5.6
spacy==2.0.5
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.19.5
ujson==1.35
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
wikipedia==1.4.0
wrapt==1.10.11
